//import the functions & variables
@use "sass:map";

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
    "softorange":hsl(35, 77%, 62%),
    "softred": hsl(5, 85%, 63%),
    "offwhite": hsl(36, 100%, 99%),
    "grayblue": hsl(233, 8%, 79%),
    "darkgreyblue": hsl(236, 13%, 42%),
    "vdarkblue":hsl(240, 100%, 5%),
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

//import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

// custom-theme-colors

// primary
$softorange: map.get($theme-colors, "softorange");
$softred: map.get($theme-colors, "softred");
// neutral
$offwhite: map.get($theme-colors, "offwhite");
$grayblue: map.get($theme-colors, "grayblue");
$darkgreyblue: map.get($theme-colors, "darkgreyblue");
$vdarkblue: map.get($theme-colors, "vdarkblue");      


// start of my css


* {
    font-family: "Inter";

}


body {
    background: $offwhite;
    margin: 5%;
}

h1 {
    font-size: 55px;
    font-family: "Inter-Bold";
}

h2 {
    color: hsl(35, 77%, 62%);
    font-size: 2.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    font-size: 15px;
    line-height: 2rem;
    color: $darkgreyblue;
}

.btn {
    background: $softred;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border-radius: 0;
    padding: 10px 40px;
}

aside {
    background-color: $vdarkblue;
}

aside h3 {
    color: $offwhite;
}

aside p {
    color: $grayblue;
    font-size: 1.2rem;
}

.breaker {
    border-bottom: 0.5px solid $grayblue;
    margin: 2em 0;
}

.card {
    border: 0;
    background: $offwhite;
}

.card-body h4 {
    font-weight: bold;
    color: $grayblue;
    font-size: 30px;
}

.card-body h5 {
    font-weight: bold;
}

.attribution {
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


