* {
    font-family: "Inter";
}



h1 {

}

h2 {

}

h3 {

}

h4 {

}


.logo {


}

.hero {


}

#readmore {


}

.asidenew {


}

.topnews {


}










.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }